kubernetes-talos01.yaml
kubernetes-talos02.yaml
kubernetes-talos03.yaml
kubernetes-talos04.yaml
kubernetes-talos05.yaml
kubernetes-talos06.yaml
kubernetes-talos07.yaml
kubernetes-talos08.yaml
kubernetes-talos09.yaml
kubernetes-talos10.yaml
kubernetes-talos11.yaml
kubernetes-talos12.yaml
talosconfig
